@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
.containerFooter {
  display: flex;
  padding: 70px 82px 75px 82px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  margin: 0;
}
.theme{ 
  color:#606E78;
}
.themeBlack{
  background-color: #1F1F1F;
  color: #FFFFFF;
}
.themeWhite{ 
  background-color: #FFFFFF;
  color:#606E78;
}

.containerFooter a {
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
}
.conteinerLogoProjeto{
  width: 100%;
  background-color: aqua;
}
.realizacaoLabel {
  margin: 0 15px 0 0;
  height: fit-content;
}

.logoWrapperFooter {
  height: 24px;
  min-width: 100px;
  max-width: 140px;
  margin-right: 204px;
}

.logo-impulsoFooter {
  height: 24px;
  margin: 2px;
}


.conteiner-logo-impulso-govFooter{
  margin-left: auto;
  display: flex;
  align-items: flex-end;
}

.logoFrameFooter {
  width: 20%;
  display: flex;
  justify-content: left;
}

.infoLinksWrapperFooter {
  width: 100%;
}

.list {
  border-bottom: 1px solid #ffffff25;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
}

.itemFooter {
  padding-right: 24px;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  white-space: nowrap;
}
.item:last-child{
  margin-left: auto;
  flex-direction: row;
}
.contactAddressSocialMedias {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  width: 100%;
}

.contactAddressFooter {
  display: flex;
  margin-right: 94px;
  font-size: 14px;
}

.contactFooter {
  margin-left: 94px;
  width: 30%;
}

.socialMediasFooter {
  align-items: center;
  display: flex;
}

.socialMediaFooter {
  height: 20px;
}

.socialMedia:not(:last-child) {
  margin-right: 28px;
}

@media screen and (max-width: 1023px) {
  .containerFooter {
    display: block;
    padding: 48px 40px 50px 40px;
  }
  .logoWrapper {
    height: 24px;
    min-width: none;
    margin-bottom: 40px;
  }
  
  .realizacaoLabel {
    margin: 0 15px 0 0;
    left: 0;
  }
  .conteiner-logo-impulso-gov{
    margin-top: 40px;
    flex-direction: row;
    margin-left: 0;
    font-size: 14px;
    justify-content: flex-start;
  }
  .logo-impulso {
    margin: 0;
    height: 14px;
    position: relative;
    top: 2px
  }
  
  .logoFrameFooter {
    width: 100%;
  }
  
    .infoLinksWrapperFooter {
    margin-left: 0;
  }

  .listFooter {
    display: block;
    margin-top: 26px;
    text-align: center;
  }

  .itemFooter {
    margin-top: 16px;
    text-align: left;
    font-size: 16px;
  }
  .item:last-child {
    align-items: baseline;
  }


  .contactAddressSocialMediasFooter {
    flex-direction: column;
    text-align: center;
    text-align: left;
  }

  .contactAddressFooter {
    display: block;
    margin-right: 0;
    text-align: left;
    width: 100%;
  }

  .contactFooter {
    margin-left: 0;
    margin-top: 25px;
    width: 100%;
  }

  .socialMedias {
    margin-top: 25px;
    width: 100%;
  }
  .socialMedia {
    height: 13px;
  }

}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .containerFooter{
    flex-direction: column;
  }
  .infoLinksWrapper{
    display:flex;
    flex-wrap: wrap;
  }
  .logoWrapper{
    margin-bottom: 32px;
    position: relative;
    left: -5px;
  }
  .item:last-child{
    position: relative;
    left: -605px;
    top: 55px;
    margin: 0 0 40px 0;
  }
}