@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
.containerFooter {
  display: flex;
  padding: 70px 40px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  margin: 0;
}
.theme{ 
  color:#606E78;
}
.themeBlack{
  background-color: #1F1F1F;
  color: #FFFFFF;
}
.themeWhite{ 
  background-color: #FFFFFF;
  color:#606E78;
}

.containerFooter a {
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
}
.conteinerLogoProjeto{
  width: 100%;
  background-color: aqua;
}
.realizacaoLabel {
  margin-right: 15px;
}

.logoWrapper {
  height: 24px;
  min-width: 100px;
  max-width: 140px;
}

.logo-impulso {
  height: 24px;
  min-width: 140px;
  max-width: 140px;
}


.conteiner-logo-impulso-gov{
  margin-left: auto;
  display: flex;
}

.logoFrame {
  width: 20%;
  display: flex;
  justify-content: left;
}

.infoLinksWrapper {
  width: 100%;
}

.list {
  border-bottom: 1px solid #ffffff25;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
}

.item {
  padding-right: 24px;
  font-size: 16px;
  line-height: 150%;
}

.contactAddressSocialMedias {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  width: 100%;
}

.contactAddress {
  display: flex;
  margin-right: 94px;
  font-size: 14px;
}

.contact {
  margin-left: 94px;
  width: 30%;
}

.socialMedias {
  align-items: center;
  display: flex;
}

.socialMedia {
  height: 20px;
}

.socialMedia:not(:last-child) {
  margin-right: 28px;
}

@media screen and (max-width: 1024px) {
  .containerFooter {
    display: block;
    padding: 48px 40px 50px 40px;
  }
  .logoWrapper {
    height: 24px;
    min-width: none;
    margin-bottom: 40px;
  }
  
  .realizacaoLabel {
    margin: 0;
    left: 0;
  }
  .conteiner-logo-impulso-gov{
    margin-top: 40px;
    flex-direction: row;
    margin-left: 0;
    font-size: 14px;
    justify-content: flex-start;
  }
  .logo-impulso {
    margin: 1px 0 0 0;
    height: 14px;
  }
  
  .logoFrame {
    width: 100%;
  }
  
    .infoLinksWrapper {
    margin-left: 0;
  }

  .list {
    display: block;
    margin-top: 26px;
    text-align: center;
  }

  .item {
    margin-top: 16px;
    text-align: left;
    font-size: 16px;
  }

  .contactAddressSocialMedias {
    flex-direction: column;
    text-align: center;
    text-align: left;
  }

  .contactAddress {
    display: block;
    margin-right: 0;
    text-align: left;
    width: 100%;
  }

  .contact {
    margin-left: 0;
    margin-top: 25px;
    width: 100%;
  }

  .socialMedias {
    margin-top: 25px;
    width: 100%;
  }
  .socialMedia {
    height: 13px;
  }

}