.container {
  display: flex;
  padding: 70px 40px;
  background-color: #1F1F1F;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  margin: 0;
}

a, u {
  color: #FFFFFF;
  text-decoration: none;
}

.realizacaoLabel {
  color:#FFFFFF;
  margin-right: 15px;
}

.logoWrapper {
  height: 24px;
  min-width: 140px;
  max-width: 140px;
}

.logo-impulso {
  height: 24px;
  min-width: 140px;
  max-width: 140px;
}


.conteiner-logo-impulso-gov{
  margin-left: auto;
  display: flex;
  justify-content: center;
}

.logoFrame {
  width: 20%;
  display: flex;
  justify-content: center;
}

.infoLinksWrapper {
  width: 100%;
}

.list {
  border-bottom: 0.1px solid #FFFFFF;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
}

.item {
  padding-right: 24px;
}

.contactAddressSocialMedias {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  width: 100%;
}

.contactAddress {
  display: flex;
  margin-right: 94px;
}

.address {
  color:#FFFFFF;
}

.contact {
  margin-left: 94px;
  width: 30%;
  color:#FFFFFF;
}

.socialMedias {
  align-items: center;
  display: flex;
}

.socialMedia {
  height: 20px;
}

.socialMedia:not(:last-child) {
  margin-right: 28px;
}

@media screen and (max-width: 1024px) {
  .container {
    display: block;
    padding: 48px 40px 58px 40px;
  }
  .realizacaoLabel {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px;
    margin-right: 0;
    left: 0;
  }
  .conteiner-logo-impulso-gov{
    flex-direction: column;
    margin-left: 0;
    justify-content: center;
  }
  .logo-impulso {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin: 0;
    margin-left: 0;
  }
  
  .logoFrame {
    width: 100%;
  }
  
    .infoLinksWrapper {
    margin-left: 0;
  }

  .list {
    display: block;
    margin-top: 26px;
    text-align: center;
  }

  .item {
    margin-top: 16px;
  }

  .contactAddressSocialMedias {
    flex-direction: column;
    text-align: center;
  }

  .contactAddress {
    display: block;
    margin-right: 0;
  }

  .contact {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
  }

  .socialMedias {
    margin-top: 20px;
  }
}