.anchor {
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 0;
  }
  
  .default:hover {
    text-decoration: underline;
    text-decoration-color: var(--black);
  }
  
  .linkPrimary {
    background-color: transparent;
    color: var(--blue);
  }
  
  .linkPrimary:hover {
    text-decoration: underline;
    text-decoration-color: var(--blue);
  }
  
  .buttonPrimary,
  .buttonSecondary {
    border-radius: 80px;
    padding: 16px 24px;
  }
  
  .buttonPrimary {
    background-color: var(--blue);
    border: 1px solid var(--border-button-light);
    color: var(--white);
  }
  
  .buttonSecondary {
    background-color: transparent;
    border: 1px solid var(--border-button-dark);
  }
  
  .uppercase {
    text-transform: uppercase;
  }